<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Company Site: {% block title %}Page{% endblock %}</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
	<div id="nav">
            <ul>
                <li><a href="/index">Home</a> </li>
                <li><a href="/index">Link1</a> </li>
                <li><a href="/index">Lind2</a> </li>
            </ul>
        </div>
    {% block content %}{% endblock %}
  </body>
</html>